<section class="uus-treening" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Aeg alustada treeninguga!</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeholder="bla-bla bla-bla blaaa">
          <mat-option value="istesse-tousud">
            Istesse tõusud
          </mat-option>
          <mat-option value="kükid">
            Kükid
          </mat-option>
          <mat-option value="kätekõverdused">
            Kätekõverdused
          </mat-option>
          <mat-option value="kaelaringid">
            Kaelaringid
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" (click)="onAlustaTreeningut()" mat-button>Alusta</button>
    </mat-card-actions>
  </mat-card>
</section>
