<mat-toolbar color="primary">

    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onLulitiKulgnavi()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div><a routerLink="/">LOGO</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigatsiooni-uksused">
        <li *ngIf="!onAutentitud">
          <a routerLink="/registreerimine">Registreeru</a>
        </li>
        <li *ngIf="!onAutentitud">
          <a routerLink="/sisselogimine">Logi sisse</a>
        </li>
        <li *ngIf="onAutentitud">
          <a routerLink="/treening">Trenn</a>
        </li>
        <li *ngIf="onAutentitud">
          <a style="cursor: pointer" (click)="onLogivalja()" >Logi välja</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
